header{
    height: 30px;
    border: 1px solid darkgoldenrod;
    text-align: center;
    background-color: darkgreen;
    color: darkgoldenrod;
    position: sticky;

}

.container{
    position: absolute;
    display: flex;
    width: 85%;
    height: 20%;
    border: 2px solid darkgoldenrod;
    border: none;
    border-bottom: 2px solid darkgreen;
    box-shadow: 0px 2px darkgoldenrod;
    margin-left: 15%;
    justify-content: space-evenly;
    align-items: center;
}

#rboard, #cboard, #pboard{
    height: 90px;
    width: 180px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 0px 7px 2px darkgreen;
    margin: 80px;
    margin-top: 100px;
    
}

#rboard:hover{
    box-shadow: 2px 2px 5px 5px darkgoldenrod;
}

#cboard:hover{
    box-shadow: 2px 2px 5px 5px darkgoldenrod;
}

#pboard:hover{
    box-shadow: 2px 2px 5px 5px darkgoldenrod;
}

