#tb_details{
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 10px;
    visibility: hidden;
    
    
}

#tb_details th{
    border: 1px solid;
}

#tb_details td{
    border: 1px solid;
    height: 30px;
    width: auto;
}

/* Stock table */
.stock{
    position: absolute;
    width: 80%;
    top: 130px;
    right: 10%;
    border: 1px solid;
}

.stock th, td{
    text-align: center;
    width: 60px;
    border: 1px solid;
    height: 30px;
    
    
}
