.request_form{
    margin: 0;
    padding: 0;
    position: relative;
    
}

.item_req{
    position: absolute;
    top: 120%;
    right: 40%;
    padding: 20px;
    visibility: hidden;
}

legend{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    width: 40vh;
}

.item_req label{
    text-align: center;
    width: 140px;
    padding:5px;   

}
p input, select{
    margin-left: 50px;
    float: right;
      
}

p select{
    width: 120px;
}

p{
    margin: 25px;
}

input[type="text"],[type="number"],[type="date"], select{
    height: 35px;
    border-radius: 10px;
    width: max-content;
    border: none;
    box-shadow: 2px 2px 5px darkgreen;
}

input[type="button"]{
    width: 20vh;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    box-shadow: 0px 0px 5px darkgreen;
    background-color: darkgreen;
    color: darkgoldenrod;
    font-weight: bold;
}
