.about{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    
}

#page{
    height: 100px;
    width: fit-content;
    background-color: aquamarine;
    padding: 20px;
    color: darkgoldenrod;
}

#art{
    border: 2px solid blue;
    width: 50%;

}