.sermon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.head{
    margin-left: -11rem;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
}

.serm{
    padding-top: 90px;
    border: 2px solid blueviolet;
    height: 400px;
    width: 400px;
}

.serm1{
    height: 200px;
    width: 200px;
    margin-top: 30px;

}
.serm2{
    height: 200px;
    width: 200px;
    margin-top: 30px;
}

.infor{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    position: absolute;
    margin-left: 33rem;
    margin-top: -8rem;    
}

#tab1{
    max-height: 200px;
    width: 200px;
    
}

#tab2{
    max-width: 200px;
    max-height: 200px;    
    padding-left: 90px ;
    position:relative;
}
#tab3{
    max-width: 200px;
    max-height: 200px;    
    padding-left: 160px ;
    position:relative;
}

.band{
    margin: 0px;
    padding: 0px;
    width: 100%
}
.contact{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact img{
    height: 250px;
    width: 250px; 
    padding: 20px;
    
}

.event{
    height: 200px;
    border: 5px;
    background-color: lightblue;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}

.event div{
    background-color: rgb(185, 185, 53);
    height: 25px;

}

#head{
    font-size: 20px;
    margin: -20px;
    width: 40px;
}
