*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 40%;
}

.control{
    position: absolute;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 50%;
}

#btn1{
    border: 3px solid darkgoldenrod;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

#center{
    border: 3px solid darkgoldenrod;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

#btn4{
    border: 3px solid darkgoldenrod;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

